<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://www.railstutorial.org"><em>Ruby on Rails Tutorial</em></a>
  is a <a href="https://www.railstutorial.org/book">book </a> and 
  <a href="http://screencast.railstutorial.org"> screen cast series </a>
  to teach web development with
  <a href="https://www.rubyonrails.org">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>

<p><%= link_to "Home", 'home#' %></p>
<p><%= link_to "Help", 'help#' %></p>