<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Rails Tutorial at the 
  <a href="https://www.railstutorial.org/help">Ruby on Rails Tutorial help page</a>.
  To get help on this sample app, see the 
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
<p><%= link_to "About", 'about#' %></p>
<p><%= link_to "Home", 'home#' %></p>